{% use 'form_div_layout.html.twig' with datetime_widget as base_datetime_widget,
                                        choice_widget as base_choice_widget,
                                        collection_widget as base_collection_widget %}

{#} Widget {#}
{% block select2_widget_content -%}
    {%- require_script '@bower/jquery/dist/jquery.js', '@bower/select2/dist/js/select2.js' -%}
    {%- require_style '@bower/select2/dist/css/select2.css' -%}
    {%- set select2 = select2|merge({'wrapper_attr': select2.wrapper_attr|merge({'class': ('select2-wrapper ' ~ select2.wrapper_attr.class|default(''))|trim})}) -%}
    <div{% for attrname, attrvalue in select2.wrapper_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- block('base_choice_widget') -}}
    </div>

    {%- inline_script -%}
    <script>
        $( '#{{ id }}' ).select2({
            {%- if select2.template_result is defined -%}
                'templateResult': {{- select2.template_result|raw -}},
            {%- endif -%}
            {%- if select2.template_selection is defined -%}
                'templateSelection': {{- select2.template_selection|raw -}},
            {%- endif -%}
            {%- if select2.dropdown_parent is defined -%}
                'dropdownParent': {{- select2.dropdown_parent|raw -}},
            {%- endif -%}
            {%- if select2.selection_adapter is defined -%}
                'selectionAdapter': {{- select2.selection_adapter|raw -}},
            {%- endif -%}
            {%- if select2.data_adapter is defined -%}
                'dataAdapter': {{- select2.data_adapter|raw -}},
            {%- endif -%}
            {%- if select2.dropdown_adapter is defined -%}
                'dropdownAdapter': {{- select2.dropdown_adapter|raw -}},
            {%- endif -%}
            {%- if select2.results_adapter is defined -%}
                'resultsAdapter': {{- select2.results_adapter|raw -}},
            {%- endif -%}
            {%- if select2.matcher is defined -%}
                'matcher': {{- select2.matcher|raw -}},
            {%- endif -%}
            {%- if select2.create_tag is defined -%}
                'createTag': {{- select2.create_tag|raw -}},
            {%- endif -%}
            {%- if select2.close_on_select is defined -%}
                'closeOnSelect': '{{- select2.close_on_select|e -}}',
            {%- endif -%}
            {%- if select2.min_results_for_search is defined -%}
                'minimumResultsForSearch': {{- select2.min_results_for_search -}},
            {%- endif -%}
            {%- if select2.min_input_length is defined -%}
                'minimumInputLength': {{- select2.min_input_length -}},
            {%- endif -%}
            {%- if select2.max_input_length is defined -%}
                'maximumInputLength': {{- select2.max_input_length -}},
            {%- endif -%}
            {%- if select2.tags is defined -%}
                'tags': {{- select2.tags|raw -}},
            {%- endif -%}
            {%- if select2.token_separators is defined -%}
                'tokenSeparators': {{- select2.token_separators|json_encode|raw -}},
            {%- endif -%}
            {%- if select2.placeholder is defined -%}
                'placeholder': '{{- select2.placeholder|e -}}',
            {%- endif -%}
            {%- if select2.width is defined -%}
                'width': '{{- select2.width|e -}}',
            {%- endif -%}
            {%- if select2.data is defined -%}
                'data': {{- select2.data|json_encode|raw -}},
            {%- endif -%}
            {%- if select2.allow_clear is defined -%}
                'allowClear': {{- select2.allow_clear|e -}},
            {%- endif -%}
            {%- if select2.dir is defined -%}
                'dir': '{{- select2.dir|e -}}',
            {%- endif -%}
            {%- if select2.theme is defined -%}
                'theme': '{{- select2.theme|e -}}',
            {%- endif -%}
            {%- if select2.ajax.enabled -%}
                'ajax': {
                    {%- if select2.ajax.data_type is defined -%}
                        'dataType': '{{- select2.ajax.data_type|e -}}',
                    {%- endif -%}
                    {%- if select2.ajax.delay is defined -%}
                        'delay': {{- select2.ajax.delay|e -}},
                    {%- endif -%}
                    {%- if select2.ajax.cache is defined -%}
                        'cache': {{- select2.ajax.cache|e -}},
                    {%- endif -%}
                    data: function (params) {
                        var value = $( '#{{ id }}' ).val();
                        var data = {};
                        {% set prefix = '' %}
                        {% if select2.ajax.ajax_id is defined and select2.ajax.ajax_id is not empty %}
                            {% set prefix = select2.ajax.ajax_id ~ '_' %}
                            data.ajax_id = "{{ select2.ajax.ajax_id }}";
                        {% endif %}
                        data['{{ prefix }}s'] = params.term;
                        data['{{ prefix }}pn'] = params.page;
                        data['{{ prefix }}ps'] = {{ select2.ajax.page_size }};
                        data['{{ prefix }}ids'] = $.isArray(value) ? value.join() : value;

                        return data;
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * data.pageSize) < data.size
                            }
                        };
                    },
                    'transport': function (options, success) {
                        var $request = $.ajax(options);
                        $request.then(success);
                        $request.fail(function () {
                            $('#{{ id }}').data('select2').trigger('results:message', {
                              message: 'errorLoading'
                            });
                        });
                        return $request;
                    },
                    'url': '{{- select2.ajax.url|e -}}'
                },
            {%- endif -%}
            'language': '{{- select2.language|e -}}'
        });
    </script>
    {%- endinline_script -%}
{%- endblock select2_widget_content %}


{% block choice_widget -%}
    {%- if select2 is defined -%}
        {{- block('select2_widget_content') -}}
    {%- else -%}
        {{- block('base_choice_widget') -}}
    {%- endif -%}
{%- endblock choice_widget %}

{% block collection_widget -%}
    {%- if selector is defined -%}
        {{- form_widget(selector) -}}
    {%- else -%}
        {{- block('base_collection_widget') -}}
    {%- endif -%}
{%- endblock collection_widget %}


{% block datetime_widget -%}
    {%- require_script '@bower/jquery/dist/jquery.js', '@bower/moment/moment.js', '@bower/hammerjs/hammer.js', '@bower/jquery-knob/js/jquery-knob.js', '@bower/sonatra-jquery-datetime-picker/js/datetime-picker.js' -%}
    {%- require_style '@bower/sonatra-jquery-datetime-picker/less/datetime-picker.less' -%}
    {{- block('base_datetime_widget') -}}
{%- endblock datetime_widget %}

{% block date_widget -%}
    {{- block('datetime_widget') -}}
{%- endblock date_widget %}

{% block time_widget -%}
    {%- set type= 'text' -%}
    {{- block('datetime_widget') -}}
{%- endblock time_widget %}
